
$main-color:#ff9c34;
$second-color:#152B5A;
$p-color:#E7EBF0;
$p-card-color:#6F747E;
$bg-card-color:#183a85;
$list-color:#3c568a;

$tour1-main-color: #002db3;
$tour1-second-color:#cc9900;
$tour1-third-color:#E7EBF0;
$tour1-fourth-color:#7c818a;

$tour2-main-color: #718cc1;
$tour2-second-color:#ffb566;
$tour2-third-color:#E7EBF0;
$tour2-fourth-color:#7c818a;