@media(max-width:991px){
    .top-menu{
        .navbar{
            padding: 0 20px !important;

            .nav-link{
                padding-right: 10px !important;
            }
        }
    }
}

@media (max-width:545px){
    .top-menu{

        .nav-information{
            padding: 71px 0;
            height: 262px;
        }
    }
    

}