@mixin buttom-style($color) {
    color: $color;
    border-color: $color;
    background-color: $main-color;

    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover{
    color: darken($color,25%);
    border-color: darken($color,25%);
    background-color: $main-color;
    }
}

@mixin included {
    font-size: 23px;
    font-weight: bold;
    li:first-child{
        color: $main-color;
    }
    li:last-child{
        color: $second-color;
    }
    
}
