@import './media-query';
@import './colors-home-page';
@import './titles-sections';
@import './mixins';
@import './custom';

@font-face{
    font-family: "cairo";
    src: url(../fonts/Cairo-Regular.ttf);
}

@font-face{
    font-family: "Kufi";
    src: url(../fonts/Lalezar-Regular.ttf);
}
body{
    font-family: "cairo", "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif" !important;
    // overflow: hidden;
}

.top-menu{
    background-image: url(../images/egypt-tour/image-2.jfif);
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat; 

    .overlay{
        background-color: $section-bg;
        min-height: 100%;
    }

    .navbar{
        font-size: 18px;
        font-weight: bold;
        margin-top: 15px;

        >a{
            font-family: "kufi";
            font-size: 30px;
            color: $second-color;
        }

        .navbar-nav{
    
            li>a{
                transition:all 0.4s ease;
                
                &:hover{
                    color: $main-color !important;
                    
                }
            }
        }

        .nav-link{
            color: $second-color !important;
            padding-right: 60px !important;
            
        }

        .navbar-collapse{
            justify-content: flex-end;
            margin-left: 50px;
        }

        .search-icon{
            font-size: 20px;
            color: $second-color;

            &:hover{
                cursor: pointer;
                color: $main-color;
            }

        }
    }

    .jumbotron-custom{
        
        margin-bottom: 0;
        padding-top: 115px;
        padding-bottom: 40px;

        h1{
            color: $second-color;
        }
        .lead-custom{
            color: $p-color;
            line-height: 41px;
            margin-top: 25px;
        }

        hr{
            border-top: 1px solid rgb(255, 156, 52,0.7);
        }
        
        .bank{
            color: $p-card-color;
            font-size: 17px;
            font-weight: 600;
        }

        .btn-primary{
            @include buttom-style($main-color);
            color: $p-color;
        }
    }

    .btn-primary{
        margin: 10px 60px;
    }

    .row-login{
        align-items: center;
        justify-content: center;
        .card-login{

            width: 100%;
            margin-top: 30px;
        }
        
        .login-title{
            color: $second-color;
            margin-bottom: 20px;
        }

        label{
            color: $second-color;
            font-size: 20px;
            margin-bottom: 19px
        }
        .birthday{
            text-align: right;
            background-color: #ffff;
            padding: 7px;
        }

        .form-control-custom{
            text-align: right;
            color: $p-card-color;
            height: calc(1.5em + 0.75rem + 9px);
        }

        .btn-primary{
            @include buttom-style($main-color);
            color: $p-color;
            margin: 20px 0;
            padding: 8px;
            font-size: 19px;
            font-weight: 400;
            border-radius: 14px;
            border-color: transparent;
        }

        .forgot-password{
            color: $main-color;
            font-size: 20px;
            margin-bottom: 20px;
            margin-right: 8px;
        }

        .forgot-password-link{
            font-size: 17px;
            font-weight: bold;
            color: $second-color;
            margin-bottom: 15px;
        }

        .login-footer-text{
            font-size: 20px;
            color: $second-color;

            
        }

        .text-reset{
                font-size: 15px;
                color: $main-color;
            }
    }

    .nav-information{
        padding: 100px 0;
        height: 380px;
        color: $p-color;
        .bg-title{
            margin: 0 350px;
            background: radial-gradient(#B69983, transparent);
            h3{
            font-size: 32px;
            }
        }
    }
    
}
.login-menu{

    .overlay{
        padding-bottom: 80px;
    }
}
.menu-tour2{
    background-image: url(../images/Istanbul-tour/image1.jpg);

    .nav-information{
        padding: 120px 0;
        height: 380px;
        color: $p-color;
        font-size: 18px;
        .bg-title{
            margin: 0 350px;
            background: radial-gradient($list-color, transparent);
            h3{
            font-size: 32px;
            }
        }
        
    }
}

.our-service{

    background-image: url(/src/images/Background-our-servicepng.png);
    
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;


    .overlay{
        background-color: rgba(243, 243, 243, 0.932);
    }
    
    .card-custom{
        box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-radius: 10px 10px 10px 10px;
        margin: 0 auto;
        width: 350px;
        height: 300px;

        .icons{
            color: $main-color;
            font-size: 49px;
            margin: 30px auto 14px;
        }

        .card-body{
            padding-top: 5px;

            h5{
                color: $second-color;
                font-size: 22px;
                font-weight: 600;
            }

            p{
                color: $p-card-color;
                font-size: 16px;
                line-height: 28px;
            }
        }
    }
}

.sightseeing-tours{
    
    margin-bottom: 20px;
    .card{
        @include sightseeing-tours-card;
    }
}

.contact-location{
    background-image: url(/src/images/footer-bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    .overlay{
        background-color: rgba(21, 43, 90,0.9);
    }

    .contact{
        h4{
            color: $main-color;
            font-size:25px ;
            font-weight: 500;
            margin-bottom: 30px;
        }

        ul{
            list-style: none;
            padding-right: 5px;

            li{
                margin-bottom: 35px;
                font-size: 20px;
                color: $p-color;

                .custom-fa{
                    color: $main-color;
                    margin-left: 20px;
                }
            }
        }
    }

    .map{
        iframe{
            width: 100%; 
            height: 220px;
        }
        
    }
}

.footer{

    background-color: $second-color;
    .row-custom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        .copy-right{
            display: inline-block;
            font-size: 20px;
            color: $main-color;

            span{
                font-size: 20px;
            }
        }

        .social-icons{
            
            ul{
                list-style: none;
                
                li{
                    display: inline-block;
                    margin-right: 30px;
                    font-size: 20px;

                    &:hover{
                        transform:translateY(-5px);
                        transition: 0.7s;
                    }
                    
                    a{
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.custom-breadcrumb{
    a{
        color: $second-color;
    }
}

.tour-destination{
    
    .destination-title{
        margin-top: 40px;
        border-bottom: 1px solid $p-color;
        
        h2{
            font-size: 40px;
            margin-bottom: 20px;
            font-weight: bold;
            color: $second-color;
        }

        .location{
            color: $main-color;
            margin: 0 20px 16px 0;
            font-size: 20px;
            
            
            span{
                color: $p-card-color;
                padding-right: 7px;
                padding-left: 15px;
                font-size: 20px;
            }
            .row-custom{
                display: flex;
                justify-content: flex-end;

            }
            .rating{
                align-items: center;

            }
        }
    }

    .destination-details{
        
        border-bottom: 1px solid $p-color;
        
        .descrption{
            margin: 20px 20px 16px 0;
        }
        .included{
            @include included;
        }

        p{
            font-size: 19px;
            line-height: 32px;
            text-align: justify;
            color: $p-card-color;
            margin-right: 15px;
        }
    }

    .activities{
        border-bottom: 1px solid $p-color;
        margin: 20px 20px 16px 0;
        .included{
            @include included
        }

        .activities-list{
            font-size: 18px;
            li{
                color: $p-card-color;
                margin-right: 10px;
                font-size: 18px;
            }
            .check{
                    color: $main-color;
                    margin-left: 8px;
                }
            .list-custom{
                li{
                padding-bottom: 8px;
                color: $list-color;
                font-size: 20px;
                font-weight: 600;
                
                
                p{
                    margin: 10px 30px 5px 0;
                    text-align: justify;
                    color: $p-card-color;
                    line-height: 33px;
                    font-size: 18px;
                    font-weight: 500;
                }
                

                
            }
            }
            
        }
    }

    .tours-location{
        margin-right: 20px;
        border-bottom: 1px solid $p-color;
        .included{
            @include included;
        }

        .map{
            margin-bottom: 1rem;
            iframe{
                width: 100%;
                height: 450px;
                border: 0;
            }
        }
    }
}

// تنسيقات معرض الصور

.gallery-area{
        .content{
            margin: 20px 70px;

            .title{
                color: $second-color;
                font-size: 28px;
                font-weight: 500;
                .mini-title {
                    color: $main-color;
                    margin-bottom: 8px;
                    h4{
                        font-size: 19px;
                    }
                }

                .large-title{
                    font-weight: bold;
                    h3{
                        font-size: 35px;
                    }
                }
            }

            .single-gallery-item{
                margin-bottom: 20px;
                .img-holder{
                    transition: 0.3s ease-in;
                    box-shadow: 0px 3px 15px 0px rgb(0 0 0 / 10%);
                    border-style: solid;
                    border-width: 0px 0px 0px 0px;
                    border-radius: 10px 10px 10px 10px;
                    img{
                        width: 100%;
                        height: 215px;
                    }

                    &:hover{
                        cursor: pointer;
                        transform:translateY(-7px);
                        
                    }
            }
        }
    }
}

.more-tours{
    .content{
        margin: 30px 90px;

        .more-tours-title{
            .included{
                @include included;
                .list-inline{
                margin-right: 30px;
                
                }
                border-bottom: 1px solid $p-color;
                
            }
        }
        .card{
            @include sightseeing-tours-card;
            margin: 0 100px 0 130px;
            

            
        }
    }
}



@media (min-width:360px){
    .top-menu{

        .jumbotron-custom{
            padding-top: 50px;
            h1{
                font-size: 33px;
                font-weight: bold;  
            }

            .lead{
                font-size: 17px;
                line-height: 35px;
            }

            .btn-primary{
                margin-right: 0;
            }
        }
        .bg-information{
            .bg-title{
                margin: 0 65px;
            }
        }

        .custom-breadcrumb{
            margin-top: 10px;

            .breadcrumb-item.active {
                color: $main-color;
            }
        }
    }

    .our-service{
        .card-custom{
            width: 300px;
        }
    }

    .sightseeing-tours{
        .card{
                height: 100%;
            // margin: 0 15px 10px 15px;
            
            .images{
                border-radius: 10px 10px 0 0;
            }
            .card-body{
                
                // margin-bottom: 80px;
                .header{
                    .price{
                        left: 7px;
                        bottom: -9px;
                        font-size: 25px;
                    }
                }
                .footer{
                    .rating{
                        letter-spacing: normal;
                    }
                }
                
            }
        }
    }

    .tour-destination{
        .tours-location{
            .map{
            iframe{
                height: 280px;
            }
        }
        }
    }

    .gallery-area{
        .content{
            .single-gallery-item{
                margin-bottom: 20px;
                .img-holder{
                    img{
                        width: 100%;
                        height: 100%;
                    }
            }
        }
    }
    }

    .more-tours{
        .content{
            margin: 30px 85px;
            .card{
                border-radius: 10px;
                margin: 0px;

                .footer{
                    margin-bottom: 73px;
                }

                .images{
                        border-radius: 10px 10px 0 0;
                }
            }
        }
    }

    .footer{
        .row-custom{
            .copy-right{
                font-size: 17px;
                margin-right: 34px;
            }

            .social-icons{
                margin-right: 40px;
                ul{
                    li{
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

@media (min-width:544.5px){
    .top-menu{
        .jumbotron-custom{
            padding-top: 75px;
            h1{
                font-size: 40px;
                font-weight: bold;  
            }

            .lead{
                font-size: 17px;
                line-height: 35px;
            }

            .btn-primary{
                margin-right: 0;
            }
        }
        .bg-information{
            .bg-title{
                margin: 0 65px;
            }
        }

        .custom-breadcrumb{
            margin-top: 10px;

            .breadcrumb-item.active {
                color: $main-color;
            }
        }
    }

    .our-service{
        .card-custom{
            width: 300px;
        }
    }

    .tour-destination{
        .tours-location{
            .map{
            iframe{
                height: 280px;
            }
        }
        }
    }

    .gallery-area{
        .content{
            .single-gallery-item{
                margin-bottom: 20px;
                .img-holder{
                    img{
                        width: 100%;
                        height: 100%;
                    }
            }
        }
    }
    }

    .more-tours{
        .content{
            margin: 30px 85px;
            .card{
                border-radius: 10px;
                margin: 0px;

                .footer{
                    margin-bottom: 73px;
                }

                .images{
                        border-radius: 10px 10px 0 0;
                }
            }
        }
    }

    .footer{
        .row-custom{
            .copy-right{
                font-size: 17px;
            }

            .social-icons{
                ul{
                    li{
                        font-size: 17px;
                    }
                }
            }
        }
    }

}

@media (max-width:776px){
    .top-menu{
        .bg-information{
            .bg-title{
                margin: 0 65px;
            }
        }

        .custom-breadcrumb{
            margin-top: 10px;

            .breadcrumb-item.active {
                color: $main-color;
            }
        }
    }

    .tour-destination{
        .destination-details{
            p{
                margin-right: 30px;
            }
            .descrption{
                margin: 20px 13px 16px 0;
            }
        } 
        .activities{
            margin-right: 3px;
        }
        .tours-location{
            margin-right: 0;
            .map{
            iframe{
                height: 280px;
            }
        }
        }
    }

    .gallery-area{
        .content{
            .single-gallery-item{
                margin-bottom: 20px;
                .img-holder{
                    img{
                        width: 100%;
                        height: 200px;
                    }
            }
        }
    }
    }

    .more-tours{
        .content{
            margin: 30px 85px;
            .card{
                border-radius: 10px;
                margin: 0;

                .footer{
                    margin-bottom: 73px;
                }

                .images{
                        border-radius: 10px 10px 0 0;
                }
            }
        }
    }

    .footer{
            .row-custom{
                .copy-right{
                    font-size: 17px;
                }

                .social-icons{
                    ul{
                        li{
                            font-size: 17px;
                        }
                    }
                }
            }
        }
}

@media (max-width:991.99px){
    .top-menu{

        .navbar{
            
            .nav-link{
                padding-right: 25px !important;
                // background: radial-gradient(#B69983, transparent);
                
            }

            .search-icon{
                margin-right: 31px;
                padding-top: 10px;
            }
        }
        .bg-information{
            .bg-title{
                margin: 0 120px;
            }
        }

        .custom-breadcrumb{
            margin-top: 10px;

            .breadcrumb-item.active {
                color: $main-color;
            }
        }
    }

    .our-service{
        .card-custom{
            width: 300px;
        }
    }

    .sightseeing-tours{
        .card{
            
            
            .images{
                border-radius: 10px 10px 0 0;
            }
            .card-body{
                
                margin-bottom: 80px;
                
            }
        }
    }

    .tour-destination{
        .destination-details{
            p{
                margin-right: 30px;
            }
            .descrption{
                margin: 20px 13px 16px 0;
            }
        } 
        .activities{
            margin-right: 3px;
            .activities-list{
                .list-custom{
                    li{
                        p{
                            margin: 10px 14px 5px 14px;
                        }
                    }
                } 
            }  
        }
        .tours-location{
            margin-right: 0;
            .map{
            iframe{
                height: 280px;
            }
        }
        }
    }

    .gallery-area{
        .content{
            .single-gallery-item{
                margin-bottom: 20px;
                .img-holder{
                    img{
                        width: 100%;
                        height: 250px;
                    }
            }
        }
    }
    }

    .more-tours{
        .content{
            margin: 30px 55px;
            .card{
                border-radius: 10px;
                margin: 0;

                .footer{
                    margin-bottom: 73px;
                }

                .images{
                        border-radius: 10px 10px 0 0;
                }
            }
        }
    }

    .footer{
            .row-custom{
                .copy-right{
                    font-size: 17px;
                }

                .social-icons{
                    ul{
                        li{
                            font-size: 17px;
                        }
                    }
                }
            }
        }

}